{% extends "blog/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}"/>
{% endblock %}

{% block body %}
    <div id="row">
        <div id="posts">
            {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <div class="post-title">
                            <a href="/blog/post/{{post.id}}/">
                                <h2>{{ post.title }}</h2>
                            </a>
                        </div>
                        <div class="post-text">
                            <p>{{ post.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                no post
            {% endif %}
        </div>
        <div id="aside">
            <div class="aside-container">
            <h3>Recents</h3>
            <ul class="recent-list">
            {% for post in posts %}
                <li class="recent-items">
                    <a href="/blog/post/{{ post.id }}/">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>
{% endblock %}