{% extends "blog/base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}"/>
{% endblock %}

{% block body %}
	<div id="row">
	<div id="posts">
		{% if posts %}
			{% for post in posts %}
				<div class="post">
					<div class="post-title">
						<a href="/blog/post/{{post.id}}/">
							<h3>{{ post.title }}</h3>
						</a>
					</div>
					<div class="post-text">
						<p>{{ post.text }}</p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			no post
		{% endif %}
	</div>
	<div id="aside">
		recent:
	</div>
	</div>
{% endblock %}