{% extends "blog/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/post.css' %}"
{% endblock %}

{% block body %}
    <div id="row">
        <div id="post-container">
            <div id="post">
                <div>
                    <h2 id="post-title">{{ post.title }}</h2>
                </div>
                <div id="post-text">
                    <p>{{ post.text }}</p>
                </div>
            </div>
            <div id="comments">
                <h2>Comments</h2>
                {% if comments %}
                    {% for comment in comments %}
                        <div id="comment-container">
                            <div class="comment-author-container">
                                <span class="comment-author">
                                    {{ comment.author }}
                                </span>
                                <span class="comment-date">
                                    {{comment.created_date}}
                                </span>
                            </div>
                            <div class="comment-text">
                                {{ comment.text }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p id="no-comment">write your comment here</p>
                {% endif %}
                <div class="comment-form">
                <form>
                    <input id="comment-input" type="text" name="comment">
                    <p id="comment-label">Your comment</p>
                    <input id="comment-submit" type="submit" value="Submit">
                </form>
                </div>
            </div>
        </div>
        <div id="aside">
            <div class="aside-container">
            <h3>Recents</h3>
            <ul class="recent-list">
            {% for post in posts %}
                <li class="recent-items">
                    <a href="/blog/post/{{ post.id }}/">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>
    
{% endblock %}