{% extends "blog/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/post.css' %}"
{% endblock %}

{% block body %}
    <div id="row">
        <div id="post-container">
            <div id="post">
                <div id="post-title">
                    <h2>{{ post.title }}</h2>
                </div>
                <div id="post-text">
                    <p>{{ post.text }}</p>
                </div>
            </div>
            <div id="comments">
                <h2>Comments</h2>
                {% if comments %}
                    {% for comment in comments %}
                        <div id="comment-container">
                            <div class="comment-author-container">
                                <span class="comment-author">
                                    {{ comment.author }}
                                </span>
                                <span class="comment-date">
                                    {{comment.created_date}}
                                </span>
                            </div>
                            <div class="comment-text">
                                {{ comment.text }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>write your comment here</h3>
                {% endif %}
            </div>
        </div>
        <div id="aside">
            <div class="aside-container">
            <h3>Recents</h3>
            <ul class="recent-list">
            {% for post in posts %}
                <li class="recent-items">
                    <a href="/blog/post/{{ post.id }}/">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>
    
{% endblock %}