{% extends "blog/base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'blog/css/post.css' %}"
{% endblock %}

{% block body %}
	<div id="post">
		<h2>{{ post.title }}</h2>
		<p>{{ post.text }}</p>
		<div id="comments">
			{% if comments %}
				{% for comment in comments%}
					<div class="comment-author">
						{{ comment.author }}
					</div>
					<div class="comment-text">
						{{ comment.text }}
					</div>
				{% endfor %}
			{% else %}
				write your comment here
			{% endif %}
		</div>
	</div>
	<div id="aside">
	</div>
{% endblock %}